.head{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #00AE61;
    border: solid 1px;
    display: block;
}

body{
    background: white;
    padding: 0;
    margin: 0;
}

.contedorinfo{
    margin-top: 30px;
}

.imagenlg{
    margin-left: 10%;
    width: 800px;
    position: absolute;
}

.infowea{
    position: relative;
    margin: 0;
    top: 0;
    margin-left: 64%;
    font-size: 12px;
    color: white;
    
}
.opt{
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: solid 2px gray;
    font-family: 'Montserrat';
    font-size: 15px;
    font-style: normal;
    line-height: 21px;
    color:#008c46;

}
.textarea{
    width: 643px;
    height: 40px;
    background: #E2E2E2;
    border-bottom: solid 1px;
}

.asignaturas{
    background: #007648;
    width: 610px;
    height: 35px;
    padding: px;
    padding-top: 17px;
    padding-left: 40px;
    border-radius: 4px;
    color:white;
}

.foto{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 17%;
    margin-top: 30px;
    width: 58px;
    height: 55px;
}

.imgasignaturas{
    width: 30px;
    position: absolute;
    left: 0;
    
    margin-left: 15%;
}
.navegador{
    display: flex;
    justify-content: space-around;
    margin-left: 17%;
    margin-right: 50%;
}

.nroopcion{
    position: absolute;
}

.btnmenu{
    margin-left: 2px;
    border: none;
    border-right: solid 1px black;
    padding: 11px;
    color:white;
    background-color: #007648;
}

.btnmenu:hover{
    background-color: #08945e;

}

.fondonav{
    background-color: #007648;
}

.tit1{
    margin-right: 40px;
}

.positionxd{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}
#fuegito{
    margin-top: 13px;
}
.sello{
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    justify-content: center;
    width: 1320px;
    padding: 5px;
    height: 70px;
    background: gray;
    border-radius: 5px;
}

.textoxd{
    color:white;
    margin-left: 13%;
    margin-top: 6px;
}

.optlaterales{
    padding-top: 20px;
    color: white;
    padding-left: 50px;
    background: #ff8000 ;
    height: 40px;
    width: auto;
    margin-top: 10px ;
}

.optlaterales:hover{
    background: #fd9d3dd3 ;
}

.textooxd{
    color:white
}
.textoxdd{
    color:white;
    font-size: 12px;
    margin-left: 14%;
}

.fotitolateral{
    position: absolute;
}
.imagenlateral{
    width: 650px;
    margin-top: 20px;
}
.seccioniz{
    width: 650px;
    height: 1000px;
    margin-top: 20px;
    margin-left: 15%;
}

.lapiz{
    width: 40px;
}
.secciondr{
    width: 650px;
    height: 1000px;
    margin-top: 20px;
    margin-left: 1%;
}

.h1xd{
    display: flex;
    font-size: 18px
}



.ngigante{
    position: relative;
    margin-right: 20px;
    font-size: 30px;
}
.cont{
    display: flex;
}

@media (max-width: 600px){
    .contedorinfo{
        display: none;
    }

    .imagenabajo{
        width: 100%;
    }

    .sello{
        display: grid;
        justify-content: center;
        width: 540px;
        font-size: 12px;
    }

    .navegador{
        margin-left: 250px;
        background-color: #007648;
        margin-right: 0;   
    }


    .imagenlg{
        position: absolute;
        left: 1% !important;
    }

    .imagen{
        width: 560px;
    }

    .head{
        background-color: #007648;
        width: 300px;
    }

    .positionxd{
        display: flex;
        margin-left: 50%;
    }

    .secciondr{ 
        margin-left: 20%;
        margin-top: 800px;
        position: absolute;
        width: 500px;
    }

    .imagenlateral{
        width: 500px;
    }
    .seccioniz{
        width: 540px;
    }
    .textarea{
        width: 540px;
    }
    .asignaturas{
        width: 504px;
    }
    
}